#header {
    .navbar {
        padding: 0;
        .container-fluid {
            height: 77px;
            max-width: 1200px;
            .collapse {
                margin: 0 -12px;
                .navbar-brand {
                    padding: 0;
                    .img {
                        width: 251px;
                    }
                }
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            color: var(--c-text);
                            font-size: 16px;
                            font-weight: 700;
                            letter-spacing: 1.28px;
                            padding: 0;
                            padding-left: 35px;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 1200.98px) {
        padding: 17px 0;
    }
    @media (max-width: 767.98px) {
        .navbar {
            .navbar-brand {
                width: 187px;
            }
            .navbar-right {
                .nav-btn {
                    display: none;
                }
            }
        }
    }
    @media (max-width: 575.98px) {
      
    }
}

#menu-mobile {
    width: 100%;
    background-color: var(--c-green-4);

    .offcanvas-header {
        justify-content: flex-end;
        button {
            color: var(--c-white);
            background-color: unset;
            border: unset;
        }
    }
    .offcanvas-body{
        .navbar-nav {
            text-align: center;
            margin-bottom: 0;
            .menu-item {
                &>a {
                    color: var(--c-white);
                    font-size: 25px;
                    font-weight: 400;
                    text-decoration: none;
                    text-decoration: none;
                }
            }
        }
        p {
            text-align: center;
            margin-bottom: 24px;
            a {
                color: var(--c-white);
                font-size: 25px;
                font-weight: 400;
                text-decoration: none;
            }
        }
    }
}
